.homepagewrap
{
    padding: 15px 15px;
    background-color: red;
    height: 200px;
    width: 400px;
}
a{
    color: aqua;
    font-size: 55px;
    font-weight: 800;
}

.maincard
{
    background-color: pink;
    height: 400px;
    width: 1000px;
    border-radius: 35px;
}

.animationCard
{
    width: 1000px;
    height: auto;
    background-color: bisque;
}